<div class="container">
  <h2>Note :</h2>
  <p>Applikasi web ini kita buat dengan mengikuti tutorial dari channel youtube Web Programming Unpas, tetapi ada beberapa sedikit code program yang kami ubah agar tidak mengikuti 100% hasil tutorial</p>
    <h4>Daftar Anggota Kelompok : </h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img src="./img/ruben.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ruben Setiaji</h5>
              <p class="card-text">Nim : 535220033</p>
              <p class="card-text">Tugas: Membuat program NodeJS di dalam website</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img src="./img/benny.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Benny Dwiyanto</h5>
              <p class="card-text">Nim : 535220012</p>
              <p class="card-text">Tugas: Membuat program MongoDB di dalam website</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img src="./img/raka.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rakha Naufal</h5>
              <p class="card-text">Nim : 535220006</p>
              <p class="card-text">Tugas: Membuat Design html dan css untuk keseluruhan website</p>
            </div>
          </div>
        </div>
      </div>
</div>

